@charset "utf-8";

/* header */

/* location */
.location	{
	position: fixed;
	margin-top: 150px;
	width: 100%;
	background: #000;
	transition: all 0.1s;
	z-index: 2;
}
.location a {
	font: 1.6rem 'Noto Sans KR', sans-serif;
}
.location .one-depth {
	max-width: 1280px;
	margin: 0 auto;
}
.location .one-depth > li {
	position: relative;
	float: left;
}
.location .one-depth > li > a {
	position: relative;
	display: block;
	padding: 0 120px 0 50px;
	line-height: 60px;
	color: #fff;
}
.location .one-depth > li:first-child a {
	display: block;
	padding: 0;
	width: 20px;
	height: 60px;
	background: url(../img/home.png) no-repeat center;
}
.location .one-depth .current-menu {background: url(../img/path_down.png) no-repeat right 20px center}
.location .one-depth .current-menu.on {background-image: url(../img/path_down_on.png);}
.location .one-depth .current-menu > a:before {
	position: absolute;
	top: 0; left: 10px;
	display: block;
	content: '';
	width: 12px;
	height: 100%;
	background: url(../img/dv-arr.png) no-repeat center;
}
.location .two-depth {
	position: absolute;
	top: 100%; left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.85);
	padding: 0 15px;
	box-sizing: border-box;
	display: none;
}
.location .two-depth li {
	padding: .8em 0;
	border-bottom: 1px solid #333;
}
.location .two-depth li a {
	font-size: 1.5rem;
	color: #ccc;
}
.location .two-depth li a:hover {color: #be9b71;}

/* container */
#container {
	padding-top: 200px;
}
#container .section-wrap {
	display: block;
	margin: 0 auto;
	padding-bottom: 300px;
	max-width: 1280px;
}

/* about-sect */
.about-sect {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.about-sect .txt-bg {
	top: 0; left: -80px;
	line-height: 0.6;
}
.about-sect .sect-tit {
	text-align: center;
	padding-bottom: 10px;
}
.about-sect .sect-tit span {
	display: inline-block;
	font-size: 7rem;
	font-weight: 700;
	line-height: 1;
  transition: all 1s;
}
.about-sect .sect-tit span:nth-child(1) {animation: bounce 1s;}
.about-sect .sect-tit span:nth-child(2) {animation: bounce 1s 0.1s;}
.about-sect .sect-tit span:nth-child(3) {animation: bounce 1s 0.2s;}
.about-sect .sect-tit span:nth-child(4) {animation: bounce 1s 0.3s;}
.about-sect .sect-tit span:nth-child(5) {animation: bounce 1s 0.4s;}
.about-sect .sect-tit span:nth-child(7) {animation: bounce 1s 0.5s;}
.about-sect .sect-tit span:nth-child(8) {animation: bounce 1s 0.6s;}
.about-sect .sect-tit span:nth-child(9) {animation: bounce 1s 0.7s;}
.about-sect .sect-tit span:nth-child(10) {animation: bounce 1s 0.8s;}
.about-sect .sect-tit span:nth-child(11) {animation: bounce 1s 0.9s;}
.about-sect .sect-tit span:nth-child(13) {animation: bounce 1s 1s;}
.about-sect .sect-tit span:nth-child(14) {animation: bounce 1s 1.1s;}
.about-sect .sect-tit span:nth-child(15) {animation: bounce 1s 1.2s;}
.about-sect .sect-tit span:nth-child(16) {animation: bounce 1s 1.3s;}
.about-sect .sect-tit span:nth-child(17) {animation: bounce 1s 1.4s;}
@keyframes bounce {
  0%, 100% {
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    filter: blur(6px);
    transform: translateY(20px);
    opacity: 0.5;
  }
}
.about-sect .text {
	padding-bottom: 100px;
	text-align: center;
	font-size: 2.7rem;
	font-weight: 400;
	color: #777;
}
.about-sect .contents {
	position: relative;
	margin-top: 100px;
	padding-bottom: 150px;
}
.about-sect .contents strong {
	display: block;
	font: 3.8rem 'Noto Sans KR', sans-serif;
	font-weight: 400;
	letter-spacing: -1.3px;
	word-break: keep-all;
}
.about-sect .contents p {
	margin-bottom: 3em;
	font: 1.6rem 'Noto Sans KR', sans-serif;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 1.6;
	word-break: keep-all;
	color: #666;
}

/* about-tit */
.about-tit {
	position: relative;
	float: left;
	margin-bottom: 200px;
	width: 50%;
	background: url(../img/since_txt.png) no-repeat;
	box-sizing: border-box;
	animation: tani 0.5s;
}
@keyframes tani {
	0% {opacity: 0; transform: translateY(100px);}
	100% {opacity: 1; transform: translateY(0);}
}
.about-tit span {
	display: block;
	margin-bottom: 100px;
	padding: 10px 0 0 100px;
	font-size: 9rem;
	font-weight: 700;
	word-break: keep-all;
	text-shadow: 1px 0 #be9b71, -1px 0 #be9b71, 0 1px #be9b71, 0 -1px #be9b71;
	color: #fff;
}
.about-tit .bg-line {
	position: absolute;
	transform: translateY(-30px);
	margin-left: 100px;
	width: 10px;
	height: 150px;
	background: #be9b71;
	z-index: 1;
}
.about-tit figure {padding-right: 100px;}
.about-tit .action {
	transform: translateX(-200px);
	transition: all 1s;
	opacity: 0;
}
.about-tit .action.srr {
	transform: translateX(0);
	opacity: 1;
}

/* about-desc */
.about-desc {
	float: right;
	width: 50%;
	animation: dani 0.5s;
}
@keyframes dani {
	0% {opacity: 0; transform: translateX(100px);}
	100% {opacity: 1; transform: translateX(0);}
}
.about-desc strong {
	padding: 0.6em 0 2em;
}
.about-desc .about-pic {
	margin-top: 10em;
	padding: 10em 0 0 100px;
}
.about-desc .action {
	transform: translateX(200px);
	transition: all 1s;
	opacity: 0;
}
.about-desc .action.srr {
	transform: translateX(0);
	opacity: 1;
}

/* about-con-left */
.about-con-left {
	position: absolute;
	bottom: 0; left: 0;
	width: 50%;
	box-sizing: border-box;
}
.about-con-left h3 {
	position: relative;
	padding-bottom: 1em;
	font-size: 6rem;
	font-weight: 800;
}
.about-con-left h3:before {
	position: absolute;
	bottom: 75%; right: 0;
	display: block;
	content: '';
	width: 253px;
	height: 46px;
	background: url(../img/last_de_txt.png) no-repeat;
}
.about-con-left p {padding-right: 11em;}

/* bg-grey box */
.bg-grey {
	position: absolute;
	bottom: 34%; right: 0;
	width: 70%;
	height: 20%;
	background: #f1f1f1;
	z-index: -1;
}

/* footer */
#footer footer {padding: 80px 5%;}